
@import "../abstracts/_colors.scss";
@import "../base/_typography.scss";
@import "../base/_mixins.scss";

.container {

    @extend .screenContainer;
    justify-content: flex-start;
    gap: 32px;
    padding: 48px 16px;

}

.list {
    width: 100%;
    z-index: -1;
}