@import "./styles/abstracts/_colors.scss";
@import "./styles/base/_mixins.scss";

.button {
    width: 40px;
    height: 40px;
    // center items with flexbox
    @include flex-container(row, nowrap, center, center);
    border-radius: 60px;
    border: 1px solid $black-100;
}


.icon {
    width: 14px;
    height: 14px;
    color: $black;
}