@import "./styles/abstracts/_colors.scss";
@import "./styles/base/_typography.scss";
@import "./styles/base/_mixins.scss";


.container {
    z-index: 99;
    width: 100%;
    @include flex-container(row, nowrap, flex-start, center);
    gap: 7px;
}

.placeholder, .searchTextInput {
    @include button-text;
    color: $black-400;
}

.searchTextInput {
    padding: 7px 16px;
}

.selectContainer {
    z-index: 99;
}


.selectContainer, .searchContainer, .dropDownContainer, .searchTextInput {
    border-color: $black-100;
}


.searchContainer {
    border-bottom-color: $black-100;
}

.listItemLabel {
    @include button-text;
    color: $black;
}