@import "./styles/abstracts/_colors.scss";
@import "./styles/base/_typography.scss";
@import "./styles/base/_mixins.scss";



.placeholder, .searchTextInput {
    @include button-text;
    color: $black-400;
}

.searchTextInput {
    padding: 7px 16px;
}

.container, .searchContainer, .dropDownContainer, .searchTextInput {
    border-color: $black-100;
}
