
@import "./styles/abstracts/_colors.scss";
@import "./styles/base/_typography.scss";
@import "./styles/base/_mixins.scss";

.container {

    @include flex-container(row, nowrap, flex-start, center);
    padding: 8px 16px;
    gap: 16px;
    
    background: $white;

    width: 100%;

    margin: 16px auto;
    
    // border-radius: 16px;
    // @include spread-shadow($black, 0.2, 30px, 45px);
}

.thumbnail {
    border-radius: 8px;
    width: 50px;
    height: 50px;
}

.songTitleContainer {
        @include flex-container(column, nowrap, center, flex-start);
        gap: 4px;
        flex: 1;
}

.trackName {
    @include text-md-medium;
    color: $black;
}

.artistName {
    @include text-sm-regular;
    color: $black-400;
}

.separator {
    width: 100%;
    height: 1px;
    background: $black-100;
}